<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container mt-15 mb-15">
    <div th:replace="~{fragment/header::header}">Header</div>
    <div th:replace="~{filter/filter::filter}">Filter</div>

    <h1>Продукты</h1>
    <div class="container">
        <div class="row row-cols-auto mt-5 mb-5">
            <div th:each="p : ${products}" class="card mr-2" style="width: 18rem;">
                <img th:src="${p.image}" class="card-img-top" alt="product image">
                <div class="card-body">
                    <h5 th:text="${p.title}" class="card-title">Product title</h5>
                    <p th:text="'Цена: ' + ${p.price} + ' руб.'" class="card-text">Price</p>
                    <div class="justify-content">
                        <a class="btn btn-primary"
                           th:href="@{/product/update/{id}(id=${p.id})}">Обновить</a>
                        <a class="btn btn-danger"
                           th:href="@{/product/delete/{id}(id=${p.id})}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">

    </table>
</div>
<div th:replace="~{fragment/footer::footer}">
    Footer
</div>
</body>
</html>
