<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragment/header::header}">Header</div>
<div class="container">
    <div th:replace="~{filter/filterByPrice::filter}">filter</div>

    <div class="row row-cols-auto mt-5 mb-5">
        <div class="card bg-light mb-3" th:each="product :${page.getContent()}" th:object="${product}">
            <img class="card-img-top" height="180" th:alt="*{title}" th:src="@{${product.image}}"
                 width="186">
            <div class="card-body">
                <h5 class="card-title" th:field="*{title}" th:text="*{title}">Card title</h5>
                <p class="card-text" th:field="*{price}" th:text="'Цена: ' +  *{price} + ' Руб'">Cost</p>
                <div class="justify-content ">
                    <a class="btn btn-outline-info" href="#"
                       th:href="@{/product/form(id=${product.id})}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">Редактировать</a>
                    <a class="btn btn-outline-danger" href="#"
                       th:href="@{/product/delete(id=${product.id})}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">Удалить</a>
                </div>
                <div class="d-flex justify-content-md-around justify-content-sm-around justify-content-xs-between">
                        <form th:action="@{/cart/add-to-cart}" th:method="get">
                            <input th:name="id" th:value="${product.id}" type="hidden">
                            <button class="btn btn-outline-success" type="submit">В корзину</button>
                        </form>
                        <form th:action="@{/cart/delete-from-cart}" th:method="get">
                            <input th:name="id" th:value="${product.id}" type="hidden">
                            <button class="btn btn-outline-success" type="submit">Убрать</button>
                        </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row my-1">
    <div class="col-md-8 d-flex flex-wrap justify-content-around">
            <div class="col-auto" th:if="${page.getTotalPages()} > 0"></div>
            <div th:replace="~{fragment/pagination::pagination}">Pagination</div>
            <div class="col-auto">
                <form action="/product/list" th:method="get">
                    <select class="form-select mr-sm-2" onchange="this.form.submit()" th:name="pageSize">
                        <option th:selected="${pageSize} == 10" th:value="10">10</option>
                        <option th:selected="${pageSize} == 20" th:value="20">20</option>
                        <option th:selected="${pageSize} == 30" th:value="30">30</option>

                    </select>
                </form>
            </div>
        </div>
</div>
<div th:replace="~{fragment/footer::footer}">Footer</div>
</div>
</body>
</html>